<button id="prev" type="button">前の月</button>
<button id="next" type="button">次の月</button>
<div id="calendar"></div>
<canvas id="gragh" height=150 weight=100></canvas>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<%= javascript_include_tag "calendar.js" %>
<%= javascript_include_tag "gragh.js" %>
