<% if @error_message %>
<%=@error_message%>
<%end%>
<h1>
  <%= link_to("支出","/outgoing") %>
  <%= link_to("収入","/incoming") %>
</h1>
<%= form_tag("/posts/out") do %>
<p>メモ</p>
<input name="memo">
<p>支出</p>
<input type="number" name="outgoing" value="0">円
<p><input type="submit" value="支出を入力する"></p>
<% end %>
